.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */


.fa-linkedin {
  background: #007bb5;
  border-radius: 10px;
  color: white;
}

.fa-github {
  background: #d15704;
  border-radius: 10px;
  color: white;
}
